body {
    margin: 0;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

header {
    background-color: #3c275a;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-weight: 400;
}

#navbar {
    overflow: hidden;
    background-color: #4F3674;
    border-bottom: 15px solid #D6A800;
}

#navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #D6A800;
    color: #4F3674;
}

#container {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: #4F3674;
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #4F3674;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #FFF;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
    font-size: .75em;
}

footer a {
    text-decoration: none;
    color: #FFF;
}

footer a:hover {
    text-decoration: underline;
}
