html {
    background-color: rgba(247, 112, 24, .2);
}

#image-gallery {
    margin-top: 10%;
    display: grid;
    grid-template-columns: auto auto auto;
}

#page-title {
    text-align: center;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 400;
}

img {
    width: 400px;
    height: 350px;
}

.gallery-title {
    text-align: center;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 400;
}

figure {
    text-align: center;
}

figcaption {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-style: italic;
    font-size: .75em;
    font-weight: 400;
}

h1, h3, figcaption {
    color: rgba(185, 63, 8, 1);
}

.gallery-item {
    border: 1px solid rgba(185, 63, 8, 1);
    border-radius: 15px;
    padding: 5px;
}

