#pageTitle {
    text-align: center;
}

#movieList {
    width: 45%;
    float: left;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 300;
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px;
}

#thingsLearned {
    width: 45%;
    float: right;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 300;
    border: 1px dashed red;
    border-radius: 15px;
    padding: 10px;
}

#roman {
    list-style-type: upper-roman;
}

#footer {
    margin-top: 60%;
    width: 100%;
}

#backToTop {
    float: right;
    margin-bottom: 20px;
}

h3 {
    font-weight: 500;
}

#favoriteUrl, #backToTop {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    text-decoration: none;
}

#favoriteUrl:hover, #backToTop:hover {
    text-decoration: underline;
}